body {
    background-color: #370D32;
    color: white;
}

.cards_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 15px;
}

.card {
    font-size: 15px;
    background-color: darkslategray;
    aspect-ratio: 100/1;
    border: 1px solid #ccc;
    padding: 10px;
}

.card p {
    white-space: pre-wrap;
    overflow-wrap: break-word;    
}